body {
  margin: 0;

}


.section{
	padding-top: 80px;
	background-color: white;

}

.section-primary{
	background-color: orange;
}

.section h1{
	color: white;
}
.section p{
	color: white;
}

.jumbotron{
	background-image: url(../images/foto1.jpg);
	background-size: 100%;
	
}

.jumbotron h1{
	color: black;

}